[submodule "ThirdParty/IECore"]
	path = ThirdParty/IECore
	url = https://github.com/Interactive-Echoes/IECore.git
[submodule "ThirdParty/JUCE"]
	path = ThirdParty/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "ThirdParty/IEConcurrency"]
	path = ThirdParty/IEConcurrency
	url = https://github.com/Interactive-Echoes/IEConcurrency.git
